body
{
    min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar
{
    margin-bottom: 0;
}

.jumbotron
{
    margin-bottom: 0;
    padding-top: 6rem;
    padding-bottom: 6rem;

    background-color: rgba(0, 150, 136, 0.45);
}

.jumbotron p:last-child
{
    margin-bottom: 0;
}

.jumbotron-heading
{
    font-weight: 300;
}

.jumbotron .container
{
    max-width: 40rem;
}

.album
{
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color: #f7f7f7;
}

.card
{
    float: left;

    width: 33.333%;
    margin-bottom: 2rem;
    padding: .75rem;

    border: 0;
}
.cropped-img
{
    display: block;
    width: 100%;
    height: 280px;
}

.card > img
{
    display: block;

    width: 100%;
    height: 280px;
    margin-bottom: .75rem;
}

.card-text
{
    font-size: 85%;
}

footer
{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p
{
    margin-bottom: .25rem;
}
